*{
  font-family: 'Raleway', cursive;
}
body{
  margin: 0;
  background: #f4f4f4;
}
.background-image{
  opacity: 0;
}

.background-image::-webkit-file-upload-button {
  visibility: hidden;
}
.background-image::before {
  content: 'select cover photo';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.background-image:hover::before {
  border-color: black;
}
.background-image:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.background-container:hover .background-image{
  transition: 1s ease-in-out;
  opacity: 1;
}